.skill-bar{
    width: 100%;
    background-color: #ddd;
    height: 30px;
    text-align: right;
    color: #fff;
}
.skill-bar > div{
    width: 0%;
    background-color: green;
    height: 30px;
}
.skill-bar > div div{
    padding-right: 10px;
}
.skill-bar-arrows div{
    display: flex;
}
.skill-bar-arrows div p{
    padding: 0 20px;
    background: #ff0000;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
