.skill-bar{
    width: 100%;
    background-color: #ddd;
    height: 20px;
}
.skill-bar > div{
    width: 10%;
    background-color: green;
    height: 20px;
}
.skill-bar-arrows div{
    display: flex;
}
.skill-bar-arrows div p{
    padding: 0 20px;
    background: red;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
