.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  padding: 12px 24px;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (width < 768px) {
  .columns > div > div {
    padding: 12px 8px;
  }
  .columns > div > .columns-img-col {
    order: 2;
  }
}

.two-column {
  padding: 64px 0;
  margin: 0 auto !important;
  border-bottom: 1px solid #ccc;
}
.two-column .columns h2 {
  color: #000;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  margin: 10px 0 45px;
}
.two-column .columns h2, .two-column .columns h5 {
  text-align: center;
}
.two-column .columns.column-big-para p {
  font-size: 18px;
}
.two-column .columns.column-small-para p {
  font-size: 15px;
  color: #757575;
  margin-bottom: 45px;
}
.two-column .columns.column-big-para > div > div > p strong {
  font-weight: normal;
  background-color: #f1f1f1;
  padding: 2px 5px;
}
.two-column .columns.column-big-para > div > div > p:last-child {
  color: #757575;
}
.two-column .columns a.button {
  background-color: transparent;
  padding: 0;
  color: #0072c4;
}
.two-column .columns a.button:hover {
  text-decoration: underline;
}


/* Social Section */

.socialmedia>div>div>p .icon {
  display: inline;
}

.socialmedia svg {
  width: 40px;
  height: 40px;
}

.socialmedia>div {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  margin: 0 auto;
}

.socialmedia>div>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #e1e1e1;
  flex-basis: 20%;
  box-sizing: border-box;
}

.socialmedia>div>div:last-child {
  border-right: 0;
}

.socialmedia>div {
  width: 100%;

}

.socialmedia>div>div>p {
  margin: 4.808px 0 0;
  color: #000;
  line-height: 1.5;
}

.socialmedia>div>div p:nth-child(2) {
  font-family: GillSans-medium;
  font-size: 1rem;
}

 .socialmedia>div>div p:nth-child(3) {
  color: #6e6e6e;
  font-size: 0.8em;
}

@media (max-width: 900px) {
  .socialmedia>div {
    flex-direction: row;
  }

  .socialmedia>div>div {
    flex-basis: 33.33%;
    border-right: none;
    margin-bottom: 3.02725vw;
    padding: 12px;
    text-align: center;
    justify-content: flex-start;
  }


  .socialmedia>div>div:nth-child(3) {
    border-right: 0;
  }

  .socialmedia>div>div p:nth-child(2) {
    font-size: 1.1rem;
  }

  .socialmedia>div>div p:nth-child(3) {
    font-size: 1rem;
  }

  .social-section .socialmedia>div>div:nth-child(5) {
    border-right: 0;
  }
}

@media (max-width: 768px) {

  .socialmedia>div>div p:nth-child(2) {
    font-size: 1rem;
  }

  .socialmedia>div>div p:nth-child(3) {
    font-size: 13px;
  }
}




