.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  padding: 12px 24px;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (width < 768px) {
  .columns > div > div {
    padding: 12px 8px;
  }
  .columns > div > .columns-img-col {
    order: 2;
  }
}

.two-column {
  padding: 64px 0;
  margin: 0 auto !important;
  border-bottom: 1px solid #ccc;
}
.two-column .columns h2 {
  color: #000;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  margin: 10px 0 45px;
}
.two-column .columns h2, .two-column .columns h5 {
  text-align: center;
}
.two-column .columns.column-big-para p {
  font-size: 18px;
}
.two-column .columns.column-small-para p {
  font-size: 15px;
  color: #757575;
  margin-bottom: 45px;
}
.two-column .columns.column-big-para > div > div > p strong {
  font-weight: normal;
  background-color: #f1f1f1;
  padding: 2px 5px;
}
.two-column .columns.column-big-para > div > div > p:last-child {
  color: #757575;
}
.two-column .columns a.button {
  background-color: transparent;
  padding: 0;
  color: #0072c4;
}
.two-column .columns a.button:hover {
  text-decoration: underline;
}