.load-more div:first-child {
    display: none;
}

.load-more {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.load-more-container {
    margin: 40px 0 !important;
}

.load-more-container h2 {
    font-size: 20px;
    color: #000;
    margin: 0 0 15px;
}

.load-more a {
    color: #2379c5;
    font-size: 14px;
    display: inline-block;
    font-family: GillSans-SemiBold;
}

.load-more-container button {
    border-color: #000;
    background: #000;
    color: #fff;
    border-radius: 6px;
    font-size: 1.04167vw;
    font-family: Roboto-Medium;
    padding: 8px 18px;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    margin: 20px auto;
    display: block;
}
.load-more-container button:hover{
    background: #cf2230 !important;
    color: #fff !important;
    border-color: #cf2230;
}

@media (max-width: 992px) {
    .load-more {
        display: flex;
        grid-template-columns: none;
        position: relative;
        flex-basis: 25%;
        flex-wrap: wrap;
    }
    .load-more .field-wrapper {
        display: flex;
        flex-basis: 23%;
        flex-wrap: wrap;
    }
    .load-more-container button {
        border-radius: 3px;
        font-size: 14px;
        padding: 5px 10px;
    }
}
@media (max-width: 767px) {
    .load-more {
        display: grid;
        grid-template-columns: none;
        grid-gap: 10px;
        position: relative;
    }
    
}