

.icon-bar {
  width: 320px; 
  background-color: #555;
  overflow: auto; 
  margin-top: 20px;
}

.icon-bar a {
  float: left; 
  text-align: center; 
  width: 20%; 
  padding: 12px 0;
  transition: all 0.3s ease; 
  color: white; 
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000; 
}

.active {
  background-color: #04AA6D; 
}

.icon-bar > div > div {
  width: 320px;
  background-color: #555;
  display: flex;
}
.icon-bar .button-container {
  margin: 0;
  padding: 12px 5px;
}
.icon-bar .button-container a {
  margin: 0;
  padding: 5px 15px;
  width: 100%;
  background-color: transparent;
}
.icon-bar .button-container:hover {
  background-color: #000;
}