.mg-motors-spec-accordiontitle h2 {
	color: #cf2230;
	text-align: center;
	padding-bottom: 48px;
	margin-bottom: 0;
	font-family: 'GillSans-semibold';
	font-size: clamp(1.563rem, 0.875vw + 1.289rem, 2rem);
	font-size: 2.08333vw;
	font-weight: 500;
}

@media (min-width: 1700px) {

	main>.mg-motors-spec-accordion.section,
	.mg-motors-spec-accordiontitle.section,
	main>.section>div {
		max-width: 1500px;
		margin: 0 auto;
	}
}

@media (width >=1900px) {

	main>.mg-motors-spec-accordion.section,
	.mg-motors-spec-accordiontitle.section,
	main>.section>div {
		max-width: 1700px;
		margin: 0 auto;
	}
}

.mg-motors-spec-accordion.section,
.mg-motors-spec-accordiontitle.section {
	max-width: 975pt;
	margin: 0 auto !important;
}

.section.mg-motors-spec-accordiontitle.columns-container>div>div>div>div:nth-child(2)>p {
	text-align: right;
}

.mg-motors-spec-accordion .default-content-wrapper .button-container .button {
	background-color: #cf2230;
	padding: .52083vw 1.5625vw;
	color: #fff;
	font-size: 1.04167vw;
	border-radius: 6px;
	font-weight: 500;
	font-family: roboto-medium;
	transition: all 1s linear;
}

.mg-motors-spec-accordion .default-content-wrapper .button-container .button:hover {
	background-color: #000;
}

.mg-motors-spec-accordion.columns-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mg-motors-spec-accordion .columns-wrapper {
	width: 50%;
	box-sizing: border-box;
	padding: 0 8px;
	margin-top: 0;
}

@media screen and (max-width: 600px) {
	.mg-motors-spec-accordion .columns-wrapper {
		width: 100%;
	}

	.mg-motors-spec-accordiontitle.columns-container>div.columns-wrapper>div>div>div>p {
		font-size: 6.11111vw;
		text-align: center;
		align-items: center;
		margin-top: 0;
	}
}

.mg-motors-spec-accordion .columns-wrapper .columns.block {
	border-radius: 10px;
	padding: 45px 0 45px 0;
	background: rgb(185, 225, 112);
	border: 1px solid rgb(185, 225, 112);
	color: rgb(0, 0, 0);
	position: relative;
	min-height: 675px;
	height: 100%;
}

.mg-motors-spec-accordion .columns-wrapper>.columns>div:nth-child(2)>div,
.mg-motors-spec-accordion .columns-wrapper>.columns>div:nth-child(3)>div,
.mg-motors-spec-accordion .columns-wrapper>.columns>div:nth-child(4)>div {
	text-align: center;
	max-width: 64%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 100%;
	position: relative;
	left: -1px;
}

.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2) {
	background-color: #fff;
	color: #000;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	font-size: 3.875vw;
	font-weight: 700;
}

@media screen and (min-width: 600px) {
	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2) {
		font-size: 1.875vw;
	}
}

.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2)::before {
	content: "\25CF";
	font-size: 95%;
	position: absolute;
	right: -17%;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #fff;
}

.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2)::after {
	content: " ";
	display: block;
	position: absolute;
	height: 2px;
	background: #fff;
	width: 15%;
	left: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
}

.mg-motors-spec-accordion .columns-wrapper .columns picture {
	display: inline-block;
}

.mg-motors-spec-accordion .columns-wrapper .columns .columns-img-col {
	position: relative;
}

.mg-motors-spec-accordion .columns-wrapper .columns .columns-img-col picture {
	position: absolute;
	top: 52%;
	right: 0;
	transform: translate(0%, 15%);
	width: 35%;
}

@media screen and (min-width: 600px) {
	.mg-motors-spec-accordion .columns-wrapper .columns .columns-img-col picture {
		transform: translate(47%, 2%);
		width: 56%;
	}
}

.mg-motors-spec-accordiontitle h2 {
	padding-bottom: 43px;
}

.mg-motors-accordion .accordion-item .accordion-item-body .tab-titles {
	display: flex;
	cursor: pointer;
	margin-bottom: 10px;
}

.mg-motors-accordion .accordion-item .accordion-item-body .tab-titles .tab-title {
	padding: 10px;
	font-size: 3.04167vw;
	font-family: Roboto-Medium;
	border-bottom: 3px solid #f2f2f2;
	background-color: #fff;
	margin-right: 5px;
}

@media screen and (min-width: 600px) {
	.mg-motors-accordion .accordion-item .accordion-item-body .tab-titles .tab-title {
		font-size: 1.04167vw;
	}
}

.mg-motors-accordion .accordion-item .accordion-item-body .tab-titles .tab-title.active {
	background-color: #fff;
	border-bottom: 3px solid #b9e170;
}


.mg-motors-spec-accordion .accordion-wrapper {
	width: 50%;
	box-sizing: border-box;
	padding: 0 8px;
	margin-top: 0;
}

.mg-motors-spec-accordion details.accordion-item {
	background-color: #f2f2f2 !important;
	color: #000 !important;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
}

.mg-motors-spec-accordion details.accordion-item .accordion-item-label {
	background-color: transparent;
	padding: 10px 15px 10px 10px;
}

@media screen and (min-width: 600px) {
	.mg-motors-spec-accordion details.accordion-item .accordion-item-label {
		padding: 10px 15px 10px 20%;
	}
}

.mg-motors-spec-accordion details.accordion-item .accordion-item-body {
	background-color: #fff;
	padding: 10px 15px 10px 10px;
}

@media screen and (min-width: 600px) {
	.mg-motors-spec-accordion details.accordion-item .accordion-item-body {
		padding: 10px 15px 10px 20%;
	}
}

.mg-motors-spec-accordion .accordion-wrapper>.accordion>details>summary>p {
	line-height: 1.2;
}

.mg-motors-spec-accordion .accordion-wrapper>.accordion>details>summary>p:nth-child(2) {
	color: #6e6e6e;
	display: contents;
}

.mg-motors-spec-accordion .accordion details.accordion-item summary::after {
	width: 8px;
	height: 8px;
	font-size: 30px;
	line-height: 50%;
	color: #cf2230;
}

.mg-motors-spec-accordion details.accordion-item .accordion-item-body h3 a {
	background-color: #cf2230;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
	font-weight: 500;
	font-family: roboto-medium;
	transition: all 1s linear;
	display: block;
	width: fit-content;
	margin: 0 auto;
	text-decoration: none;
}

.mg-motors-spec-accordiontitle .columns-wrapper p {
	font-size: 1.25vw;
	margin-bottom: 9pt;
	font-family: GillSans-Semibold;
}

.mg-motors-accordion .accordion-item .accordion-item-body .tab-content {
	padding: 10px;
	display: none;
}

.mg-motors-accordion .accordion-item .accordion-item-body .tab-content ul li {
	font-family: Roboto-Medium;
	line-height: 32px;
}

.mg-motors-accordion .accordion-item .accordion-item-body .tab-content ul li strong {
	display: inline-block;
	width: 55%;
	font-weight: 400;
}

.mg-motors-accordion .accordion-item .accordion-item-body .tab-content.active {
	display: block;
}

@media screen and (min-width: 600px) {
	.mg-motors-accordion .accordion-item .accordion-item-body .tab-content ul li {
		padding: .52083vw 1.5625vw;
	}
}

.mg-motors-spec-accordion details.accordion-item .accordion-item-body h3 a:hover {
	background-color: #000;
}

@media screen and (max-width: 600px) {
	.mg-motors-spec-accordion .accordion-wrapper {
		width: 100%;
		margin-top: 15px;
	}
}

@media (max-width: 900px) {
	.mg-motors-spec-accordion .columns-wrapper {
		width: 80%;
		margin-left: 0;
	}

	.mg-motors-spec-accordion .accordion-wrapper {
		width: 100%;
	}

	.mg-motors-spec-accordion .columns-wrapper .columns .columns-img-col picture {
		transform: translate(0%, 0%);
		width: 75%;
		top: -93px;
		right: -254px;
	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2)::after {
		width: 40%;
	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2) {
		margin-top: 0;
	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2)::before {
		right: -41%;
		top: 10px;
	}

	.mg-motors-spec-accordion.columns-container {
		max-width: 45pc;
	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p {
		font-size: 2.01816vw;
		margin-top: 0;
		margin-bottom: 10px;
		;
	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2) {
		font-size: 3.02725vw;
		padding: 10px 0;
	}

	.mg-motors-spec-accordiontitle h2 {
		font-size: 3.02725vw;
	}

	.mg-motors-spec-accordion .columns-wrapper .columns.block {
		padding: 30px 0;
	}
}

@media (min-width: 768px) {
	.faq-section .accordion details .accordion-item-body p {
		font-size: 2.01816vw;
	}

	.mg-motors-spec-accordiontitle .columns-wrapper p {
		font-size: 1.25vw;
		margin-bottom: 9pt;
		font-family: GillSans-Semibold;
	}

	.accordion details .accordion-item-label p:first-child {
		font-size: 1.5625vw;
		font-family: 'GillSans-Regular';
	}

}

@media (max-width: 575.98px) {
	.mg-motors-spec-accordiontitle h2 {
		font-size: 7.22222vw;
	}

	.mg-motors-spec-accordion.columns-container,
	.mg-motors-spec-accordion .columns-wrapper {
		max-width: 100%;
		width: 100%;

	}

	.tab-footer a.button:any-link,
	.mg-motors-spec-accordion .default-content-wrapper .button-container .button {
		font-size: 14px;
		padding: 5px 10px;

	}

	.mg-motors-spec-accordion .columns-wrapper .columns.block {
		width: 80%;
		padding: 30px 0;
	}

	.mg-motors-spec-accordion .columns-wrapper .columns .columns-img-col picture {
		position: absolute;
		right: -71px;
		top: -12px;
		transform: translate(0, 0);
		width: 68%;
	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p {
		font-size: 5.55556vw;
		margin: 0;
		margin-bottom: 10px;

	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2) {
		font-size: 8.33333vw;
	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2)::after {
		width: 36%;
	}

	.mg-motors-spec-accordion .columns-wrapper>.columns>div>div>p:nth-child(2)::before {
		right: -40%;
	}
}

@media (min-width:992px) {
	.mg-motors-spec-accordiontitle .columns-wrapper {
		padding: 0 10px;
	}
}