footer {
  background-color: #f1f1f1;
  font-size: 15px;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 50px 24px 50px;
  text-align: center;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 50px 24px 50px;
  }
}
